a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: blue;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin-bottom: 20px;
}
header {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
nav a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-style: italic;
}
#current {
    font-weight: bolder;
    font-size: larger;
}